*{margin: 0;}
section{
    margin: 50px auto 100px auto;
    display: flex;
    flex-direction: column;
}
.detail{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    width: 1000px;
    margin: 50px auto 0 auto;
}
.box{
    width: 710px;
    height: 450px;
    padding: 100px 290px 0 0;
    margin: 0 auto 100px auto;
    box-shadow: 4px 5px 10px gray;
    display: flex;
    flex-direction: column;
}
.title_box{
    margin-top: -70px;
    margin-left: 30px;
}
.title{
    font-family: Leelawadee UI;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.02em;
}
.subtitle{
    font-family: Leelawadee UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.02em;
    color: #727272;
}
.coin_data{
    display: flex;
    margin-top: 100px;
    margin-left: 250px;
    width: 800px;

    font-family: Leelawadee UI;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: -0.02em;
}
.coin_detail{
    display: flex;
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
}
.coin_have input{
    width: 300px;
    height: 50px;
    left: 570px;
    top: 383px;
    margin-left: 20px;

    background: #FFFFFF;
    border: 1px solid #9E9E9E;
    box-sizing: border-box;
}
.coin_donate input{
    width: 300px;
    height: 50px;
    left: 570px;
    top: 383px;
    margin-top: 25px;
    margin-left: 20px;

    background: #FFFFFF;
    border: 1px solid #9E9E9E;
    box-sizing: border-box;
}
.charge_btn{
    margin-left: 30px;

    width: 90px;
    height: 45px;
    left: 906px;
    top: 385px;
    background: #414141;

    font-family: Leelawadee UI;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.donate_box{
    margin-top: 50px;
    margin-left: 385px;
    align-items: center;
}
.donate_btn{
    width: 300px;
    height: 60px;
    left: 570px;
    top: 570px;
    background: #F5D216;
    border: 0;

    font-family: Leelawadee UI;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #414141;
}
.donate_data{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 100px auto 10px 250px;
}
.donate_complete{
    font-family: Leelawadee UI;
    font-style: normal;
    font-weight: bold;
    font-size: 55.8092px;
    line-height: 74px;
    letter-spacing: -0.09em;
    margin: auto 5px auto 0;

    text-shadow: 0px 3.10051px 3.10051px rgba(0, 0, 0, 0.25);
}
.donate_complete span{
    color: #F5D216;
}
.coin_remain{
    font-family: Leelawadee UI;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #757575;

    margin: auto 5px 0 330px;
}
.complete_btn{
    width: 500px;
    height: 70px;
    left: 493px;
    top: 567px;
    background: #F5D216;
    border: 0;

    font-family: Leelawadee UI;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #414141;
}
.complete_box{
    margin-top: 50px;
    margin-left: 250px;
    align-items: center;
}
.krw{
    font-family: Leelawadee UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.02em;
    color: #414141;

    margin-left: 385px;

}