*{
    margin: 0;
}
header {
    width: 1000px;
    margin: 5px auto 0 auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.navbar_menu{
    display: flex;
}
.Menu_Charity{
    margin: 0 10px 0 0;
}
.navbar_signup{
    display: flex;
}
.navbar_search{
    width: 40%;
    height: 40px;
    background-color: #F2F2F2;
    display: flex;
    align-items: center ;
}
.search_text{
    border: none;
    background-color: transparent;
    width: 85%;
    height: 70%;
    border-right: 1.5px solid #A7A7A7;
}
.SignUp{
    margin: 0 10px 0 0;
}