<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GiveCoin</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/donation.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<header>
    <div class="Header_logo"><a href="/index"><img src="../image/LOGO.svg" alt="logo"></a></div>
    <div class="Header_Charity"><a href="/charity">후원단체보기</a></div>
    <div class="Header_Notice"><a href="/notice/list">공지사항</a></div>
    <div class="Header_search">
        <input type="text" class="Search_text">
        <img src="../image/Search_Btn.svg" alt="Btn" class="Search_Btn" onclick="location.href='../html/#'">
    </div>
    <div class="Header_Sign">
         <div class="SignUp"><a id="mypage" href="/auth/register"><%=val1%></a></div>
         <div class="LogIn"><a id="logout" href="/auth/login"><%=val2%></a></div>
    </div>
</header>
<section>
    <div class="detail"></div>
    <div class="box">
        <div class="title_box">
            <div class="title">충전하기</div>
            <div class="subtitle">기부하는 당신이 아름답습니다</div>
        </div>
        <form action="/charge" class="coin_data">
            <div class="coin_detail">
                <div class="coin_have">
                    보유 코인
                    <div></div>
                </div>
                <div class="coin_donate">
                    충전할 코인
                    <input type="number" id="coin_charge" name="coin_charge" onkeyup="change_krw()">
                </div>
            </div>
        </form>
        <div class="krw">
            <span id="krw_">0</span> KRW
        </div>
        <div class="donate_box">
            <input type="button" value="결제하기" class="donate_btn" onclick="location.href='/donation'; charge_alert()" style='cursor:pointer'>
        </div>
    </div>

</section>
<footer>
    <hr>
    <div class="Up_footer">
        <div class="Footer_Text"><a href="">회원가입약관</a></div>
        <div class="Footer_Text"><a href="">서비스이용약관</a></div>
        <div class="Footer_Text"><a href="">개인정보처리방침</a></div>
        <div class="Footer_Text"><a href="">공지사항</a></div>
        <div class="Footer_Text"><a href="">SNS</a></div>
    </div>
    <hr>
    <div class="Down_footer">
        <div class="Left_footer">
            <img src="../image/LOGO.svg" alt="LOGO" class="Footer_logo">
            <div class="Customer_Service">기브코인 고객센터</div>
            <div class="Service_Num">1900-2470</div>
        </div>
        <div class="Right_footer">
            기브코인플랫폼(주) | 팀장 김예은 | 사업자 등록번호 0907 <br>
            서울시 노원구 공릉로 232  서울과학기술대학교 미래관 3층
        </div>
    </div>
</footer>
</body>
<script src="../javascripts/charge.js"></script>
<script src="../javascripts/index.js"></script>
</html>