<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GiveCoin</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/Sign_out.css">
</head>
<body>
<header>
    <div class="Header_logo"><a href="/index"><img src="../image/LOGO.svg" alt="logo"></a></div>
    <div class="Header_Charity"><a href="/Charity">후원단체보기</a></div>
    <div class="Header_Notice"><a href="/notice/list">공지사항</a></div>
    <div class="Header_search">
        <input type="text" class="Search_text">
        <img src="../image/Search_Btn.svg" alt="Btn" class="Search_Btn" onclick="location.href='../html/#'" >
    </div>
    <div class="Header_Sign">
        <div class="SignUp"><a id="mypage" href="/auth/register"><%=val1%></a></div>
        <div class="LogIn"><a id="logout" href="/auth/login"><%=val2%></a></div>
    </div>
</header>
<section>
    <div class="Sign_UpBox">
        회원탈퇴하기<br>
        <span>기존의 회원 정보와 코인은 모두 영구 삭제됩니다.</span>
    </div>
    <div class="password_Box">
        <form action="/auth/out" method="post">
            <div class="Sign_text">
                <span>*</span><div class="text_name">남은 코인</div>
                <div class="Sign_input"><%=row.totalcoin%></div>
            </div>
            <div class="notice_text">회원 탈퇴시,남은 코인은 모두 사라집니다.</div>
            <div class="empty_space"></div>
            <div class="Sign_text">
                <span>*</span><div class="text_name" name="passwd">비밀번호 확인</div>
                <input type="hidden" name="email" value="<%=row.email%>"/>
                <input type="text" class="Sign_input">
            </div>
            <div class="password_text">알맞은 비밀번호를 입력해주세요.</div>
            <div class="agree">
                <input type="button" value="약관 읽기 및 동의" class="agree_btn" style="cursor: pointer">
            </div>
            <div class="Button_Set">
                <input type="button" value="취소" class="Cancel_Button" style='cursor:pointer'>
                <button type="submit" class="Out_Button" style='cursor:pointer'>회원 탈퇴</button>
            </div>
        </form>
    </div>
</section>
<footer>
    <hr>
    <div class="Up_footer">
        <div class="Footer_Text"><a href="">회원가입약관</a></div>
        <div class="Footer_Text"><a href="">서비스이용약관</a></div>
        <div class="Footer_Text"><a href="">개인정보처리방침</a></div>
        <div class="Footer_Text"><a href="">공지사항</a></div>
        <div class="Footer_Text"><a href="">SNS</a></div>
    </div>
    <hr>
    <div class="Down_footer">
        <div class="Left_footer">
            <img src="../image/LOGO.svg" alt="LOGO" class="Footer_logo">
            <div class="Customer_Service">기브코인 고객센터</div>
            <div class="Service_Num">1900-2470</div>
        </div>
        <div class="Right_footer">
            기브코인플랫폼(주) | 팀장 김예은 | 사업자 등록번호 0907 <br>
            서울시 노원구 공릉로 232  서울과학기술대학교 미래관 3층
        </div>
    </div>
</footer>
</body>
</html>