.Section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 170px 0 0;
}

.Side_nav {
    position: sticky;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 130px;
    height: 400px;
    margin-top: 90px;
    margin-right: 35px;
    box-shadow: 1px 1px 1px #DBDBDB;
}

.Side_nav_list{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 50px;
}

.Side_nav_list_title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 12px;
}

.Side_list_bar{
    width: 130px;
    background-color: #DBDBDB;
    height: 1px;
    margin-bottom: 7px;
}

.Charity_search_box{
    display: flex;
    flex-direction: row;
    width: 1050px;
    margin-top: 60px;
    margin-bottom: 2px;
}

.Charity_list_box{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 1050px;
}

.Charity_search{
   width: 550px;
    height: 25px;
    margin: 0 15px 0 200px;
    border-bottom: #727272;
}

.Charity_search_btn{
    background-image: url("../image/Charity_search_btn.svg");
    width: 28px;
    height: 24px;
    margin-right: 40px;
}

.Select_box{
    border: none;
    font-weight: bold;
    font-size: 15px;
}

.Select_option {
    font-weight: bold;
}

.Charity_hr{
    width: 1050px;
    margin-top: 2px;
}

.Charity_list_small_box{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.Charity_list_small_row_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1050px;
    margin-top: 50px;
}

.Charity_box {
    display: flex;
    flex-direction: column;
}

.Charity_list_img{
    display: flex;
    width: 330px;
    height: 230px;
    background-color: #4D4D4D;
}

.Charity_list_title_box{
    width: 330px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.Charity_list_title_t{
    font-weight: bold;
    font-size: 17px;
}

.Charity_list_title_l{
    font-weight: normal;
    font-size: 13px;
}

.Charity_list_title_h{
    height: 3px;
    background-color: #30558A;
    width: 320px;
    margin-top: 5px;
}

.Pagination {
    display: flex;
    flex-direction: row;
    width: 150px;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
    margin: 60px 0 60px 400px;
}

.Charity_search_m{
    font-weight: bold;
    font-size: 18px;
}

ul {
    list-style: none;
}