.Sign_UpBox{
    width: 900px;
    height: 90px;
    padding: 30px 50px;
    margin: 50px auto 0 auto;
    box-shadow: 4px 5px 10px gray;
    font-size: 30px;
    font-weight: bold;
}
.Sign_UpBox>span{
    font-size: 20px;
    color: #727272;
}
.Sign_downBox{
    width: 710px;
    height: 1200px;
    padding: 100px 290px 0 0;
    margin: 20px auto 100px auto;
    box-shadow: 4px 5px 10px gray;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.Sign_text{
    margin: 7px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: bold;
}
.text_name{
    margin: 15px 20px 10px 5px;
    font-size: 18px;
}
.Sign_text span{
    color: #FF6534;
    font-size: 20px;
    margin: 10px 0;
}
.Type_Box{
    width: 200px;
    height: 240px;
    margin: 0 10px;
    padding: 10px 10px;
    box-shadow: 4px 5px 10px gray;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.Big_Exp{
    font-size: 16px;
    margin: 3px 0 20px 0;
    color: #414141;
}
.Type_img{
    height: 100px;
    margin: 15px 0;
}
.Type_Name{
    font-size: 19px;
    margin: 0 0 10px 0;
}
.Small_Exp{
    font-size: 12px;
    color: #757575;
    margin: 5px 0 0 0;
}
.add_exp{
    width: 470px;
    margin: 20px 0 40px 0;
    color: #414141;
    font-size: 15px;
    text-align: left;
}
.Sign_input{
    width: 400px;
    height: 50px;
    border: #9E9E9E 1px solid;
}
.password_text{
    width: 400px;
    font-size: 12px;
    margin: 0 0 10px 0;
    text-align: left;
}
.Check_Box{
    width: 475px;
    text-align: left;
    margin: 20px 0;
    font-size: 17px;
    display: flex;
    align-items: center;
}
.Check_Box input{
    width: 18px;
    height: 18px;
}
.Check_Box span{
    color: #30558A;
    font-weight: bold;
}
.SignUp_Button{
    width: 475px;
    height: 60px;
    margin: 50px 0;
    background-color: #30558A;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
.password_Box{
    width: 710px;
    height: 500px;
    padding: 100px 290px 0 0;
    margin: 20px auto 100px auto;
    box-shadow: 4px 5px 10px gray;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.notice_text{
    width: 400px;
    font-size: 12px;
    margin: 0 0 10px 0;
    text-align: left;
    font-family: Leelawadee UI;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.02em;

    color: #FF6534;

}
.empty_space{
    margin: 15px 0;
}
.Button_Set{
    position: relative;
    top: 30px;
    left: 230px;
}
.Cancel_Button{

    width: 89px;
    height: 60px;
    left: 972px;
    top: 656px;

    background: #AEAEAE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin: 50px 15px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.Out_Button{
    width: 131px;
    height: 60px;
    left: 1064px;
    top: 728px;

    background: #3E3E3E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-family: Leelawadee UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #FFFFFF;
}
.agree{
    margin-top: 30px;
}
.agree_btn{
    width: 400px;
    height: 47px;
    left: 571px;
    top: 579px;

    background: #414141;

    font-family: Leelawadee UI;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #FFFFFF;
}