*{margin: 0;}
section{
    display: flex;
    flex-direction: column;
    margin: 30px 200px 100px 0;
}
.detail{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    width: 700px;
    margin: 40px auto 5px auto;
    text-align: left;
}
.main{
    display: flex;
    margin: 0 auto;
}
.box{
    width: 940px;
    height: 550px;
    margin-left: 20px;
    box-shadow: 4px 5px 10px gray;
    display: flex;
    flex-direction: column;
}
.sidebar{
    width: 176px;
    height: 177px;
    left: 54px;
    top: 142px;
    margin-left: 50px;
    background: #FFFFFF;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.25);
}
.sidebar_title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #30558A;

    margin-top: 17px;
}
.sidebar_title hr{
    margin: 9px auto 0 auto;
    width: 135px;
    height: 0px;

    border: 1px solid #30558A;
}
.sidebar_content{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #323232;
}
.sidebar_target{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    padding-top: 25px;

    color: #323232;
    background: #E4EDFF;
}
.sidebar_target hr{
    margin: 20px auto 25px auto;
    width: 134px;
    height: 0px;
    left: 75px;
    top: 250px;

    border: 0.5px solid #CECECE;
}
.box_title{
    display: flex;
    margin-top: 17px;
    justify-content: space-between;
}
.title_detail{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;

    color: #000000;

    margin-left: 20px;
}
.give{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #30558A;
}
.coin{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #F5D216;
}
.btn{
    margin-left: 200px;
}
.write_btn{
    width: 72px;
    height: 27px;
    margin: 0 20px 0 0;
    border: 1px solid #30558A;
    box-sizing: border-box;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #30558A;
    background-color: #FFFFFF;
    cursor: pointer;
}
.box_btn{
    width: 320px;
    margin: 10px auto 50px auto;
}
.page{
    margin-bottom: 10px;

}
.home_btn{
    width: 140px;
    height: 50px;
    border: 2px solid #707070;
    box-sizing: border-box;
    border-radius: 6px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16.5555px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;

    color: #707070;
    background-color: #FFFFFF;
}

.box_table{
    height: 350px;
    margin: 17px auto 0 auto;
}
table{
    border-collapse: collapse;
    text-align: center;
}
.list{
    width: 900px;
}
.list_head{
    background: #F8F8F8;
    color: #000000;
}
tr{
    height: 48px;
}
th{
    border-top: 1px solid #A7A7A7;
    border-bottom: 1px solid #A7A7A7;
}
.idx{
    width: 40px;
    font-family: Yu Gothic UI;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.02em;
}
.title{
    width: 550px;
    font-family: Yu Gothic UI;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.02em;
}
.page_Num{
    display: flex;
    justify-content: center ;
    margin: 0 0 20px 0;
}