<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GiveCoin</title>
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/Charity.css">
</head>
<body>
<header>
    <div class="Header_logo"><a href="index.html"><img src="../../public/image/LOGO.svg" alt="logo"></a></div>
    <div class="Header_Charity"><a href="Charity.html">후원단체보기</a></div>
    <div class="Header_Notice"><a href="Notice_list.html">공지사항</a></div>
    <div class="Header_search">
        <input type="text" class="Search_text">
        <img src="../../public/image/Search_Btn.svg" alt="Btn" class="Search_Btn" onclick="location.href='/#'">
    </div>
    <div class="Header_Sign">
        <div class="SignUp"><a href="Sign_up.html">회원가입</a></div>
        <div class="LogIn"><a href="Login.html">로그인</a></div>
    </div>
</header>
<section class="Section">
    <div class="Side_nav">
        <div class="Side_nav_list">
            <div class="Side_nav_list_img_1"></div>
            <div class="Side_nav_list_title">전체</div>
        </div>
        <div class="Side_list_bar"></div>
        <div class="Side_nav_list">
            <div class="Side_nav_list_img_2"></div>
            <div class="Side_nav_list_title">아동/청소년</div>
        </div>
        <div class="Side_list_bar"></div>
        <div class="Side_nav_list">
            <div class="Side_nav_list_img_3"></div>
            <div class="Side_nav_list_title">장애인</div>
        </div>
        <div class="Side_list_bar"></div>
        <div class="Side_nav_list">
            <div class="Side_nav_list_img_4"></div>
            <div class="Side_nav_list_title">지구촌</div>
        </div>
        <div class="Side_list_bar"></div>
        <div class="Side_nav_list">
            <div class="Side_nav_list_img_5"></div>
            <div class="Side_nav_list_title">동물</div>
        </div>
        <div class="Side_list_bar"></div>
        <div class="Side_nav_list">
            <div class="Side_nav_list_img_6"></div>
            <div class="Side_nav_list_title">환경</div>
        </div>
        <div class="Side_list_bar"></div>
        <div class="Side_nav_list">
            <div class="Side_nav_list_img_7"></div>
            <div class="Side_nav_list_title">기타</div>
        </div>
    </div>
    <div class="Charity_list_box">
        <div class="Charity_search_box">
            <span class="Charity_search_m">전체보기</span>
            <input type="text" class="Charity_search">
            <a href=""><div class="Charity_search_btn"></div></a>
            <select class="Select_box">
                <option class="Select_option">전체</option>
                <option class="Select_option">아동/청소년</option>
                <option class="Select_option">장애인</option>
                <option class="Select_option">지구촌</option>
                <option class="Select_option">동물</option>
                <option class="Select_option">환경</option>
                <option class="Select_option">기타</option>
            </select>
        </div>
        <hr class="Charity_hr">
        <div class="Charity_list_small_box">
            <div class="Charity_list_small_row_box">
                <div class="Charity_box">
                    <div class="Charity_list_img"></div>
                    <div class="Charity_list_title_box">
                        <span class="Charity_list_title_t">제목입니다</span>
                        <span class="Charity_list_title_l">목록</span>
                        <div class="Charity_list_title_h"></div>
                    </div>
                </div>
                <div class="Charity_box">
                    <div class="Charity_list_img"></div>
                    <div class="Charity_list_title_box">
                        <span class="Charity_list_title_t">제목입니다</span>
                        <span class="Charity_list_title_l">목록</span>
                        <div class="Charity_list_title_h"></div>
                    </div>
                </div>
                <div class="Charity_box">
                    <div class="Charity_list_img"></div>
                    <div class="Charity_list_title_box">
                        <span class="Charity_list_title_t">제목입니다</span>
                        <span class="Charity_list_title_l">목록</span>
                        <div class="Charity_list_title_h"></div>
                    </div>
                </div>
            </div>
            <div class="Charity_list_small_row_box">
                <div class="Charity_box">
                    <div class="Charity_list_img"></div>
                    <div class="Charity_list_title_box">
                        <span class="Charity_list_title_t">제목입니다</span>
                        <span class="Charity_list_title_l">목록</span>
                        <div class="Charity_list_title_h"></div>
                    </div>
                </div><div class="Charity_box">
                <div class="Charity_list_img"></div>
                <div class="Charity_list_title_box">
                    <span class="Charity_list_title_t">제목입니다</span>
                    <span class="Charity_list_title_l">목록</span>
                    <div class="Charity_list_title_h"></div>
                </div>
            </div><div class="Charity_box">
                <div class="Charity_list_img"></div>
                <div class="Charity_list_title_box">
                    <span class="Charity_list_title_t">제목입니다</span>
                    <span class="Charity_list_title_l">목록</span>
                    <div class="Charity_list_title_h"></div>
                </div>
            </div>
            </div>
            <div class="Charity_list_small_row_box">
                <div class="Charity_box">
                    <div class="Charity_list_img"></div>
                    <div class="Charity_list_title_box">
                        <span class="Charity_list_title_t">제목입니다</span>
                        <span class="Charity_list_title_l">목록</span>
                        <div class="Charity_list_title_h"></div>
                    </div>
                </div><div class="Charity_box">
                <div class="Charity_list_img"></div>
                <div class="Charity_list_title_box">
                    <span class="Charity_list_title_t">제목입니다</span>
                    <span class="Charity_list_title_l">목록</span>
                    <div class="Charity_list_title_h"></div>
                </div>
            </div><div class="Charity_box">
                <div class="Charity_list_img"></div>
                <div class="Charity_list_title_box">
                    <span class="Charity_list_title_t">제목입니다</span>
                    <span class="Charity_list_title_l">목록</span>
                    <div class="Charity_list_title_h"></div>
                </div>
            </div>
            </div>
        </div>
        <ul class="Pagination">
            <li><a href="">1</a> </li>
            <li><a href="">2</a> </li>
            <li><a href="">3</a> </li>
        </ul>
    </div>
</section>
<footer>
    <hr>
    <div class="Up_footer">
        <div class="Footer_Text"><a href="">회원가입약관</a></div>
        <div class="Footer_Text"><a href="">서비스이용약관</a></div>
        <div class="Footer_Text"><a href="">개인정보처리방침</a></div>
        <div class="Footer_Text"><a href="">공지사항</a></div>
        <div class="Footer_Text"><a href="">SNS</a></div>
    </div>
    <hr>
    <div class="Down_footer">
        <div class="Left_footer">
            <img src="../../public/image/LOGO.svg" alt="LOGO" class="Footer_logo">
            <div class="Customer_Service">기브코인 고객센터</div>
            <div class="Service_Num">1900-2470</div>
        </div>
        <div class="Right_footer">
            기브코인플랫폼(주) | 팀장 김예은 | 사업자 등록번호 0907 <br>
            서울시 노원구 공릉로 232  서울과학기술대학교 미래관 3층
        </div>
    </div>
</footer>
</body>
</html>