<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GiveCoin</title>
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/My_page.css">
</head>
<body>
<header>
    <div class="Header_logo"><a href="index.html"><img src="../../public/image/LOGO.svg" alt="logo"></a></div>
    <div class="Header_Charity"><a href="Charity.html">후원단체보기</a></div>
    <div class="Header_Notice"><a href="Notice.html">공지사항</a></div>
    <div class="Header_search">
        <input type="text" class="Search_text">
        <img src="../../public/image/Search_Btn.svg" alt="Btn" class="Search_Btn" onclick="location.href='/#'">
    </div>
    <div class="Header_Sign">
        <div class="SignUp"><a href="Sign_up.html">회원가입</a></div>
        <div class="LogIn"><a href="Login.html">로그인</a></div>
    </div>
</header>
<section>
    <div class="page_Box">
        <div class="Profile">
            <div class="Profile_Img">재웅</div>
            <div class="Profile_Name"><span>윤재웅</span>님</div>
            <a href="index.html" class="Profile_Btn">로그아웃</a>
            <a href="Sign_out.html" class="Profile_Btn">탈퇴</a>
        </div>
        <div class="Content">
            <div class="Content_title">나의 프로젝트</div>
            <div class="Content_Box">
                <table>
                    <tr>
                        <td class="donate_detail">기부하기 <br> <span>0</span>회</td>
                        <td class="donate_detail">기부한 코인 <br><span>0</span>코인</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="charge_btn"><a href="charge.html">충전하기</a></td>
                    </tr>
                </table>
            </div>
            <div class="Content_title">활동내역</div>
            <div class="BreakDown_Box">
                <div class="Charity_list_small_row_box">
                    <div class="Charity_box">
                        <div class="Charity_list_img"></div>
                        <div class="Charity_list_title_box">
                            <span class="Charity_list_title_t">제목입니다</span>
                            <span class="Charity_list_title_l">목록</span>
                            <div class="Charity_list_title_h"></div>
                        </div>
                    </div>
                    <div class="Charity_box">
                        <div class="Charity_list_img"></div>
                        <div class="Charity_list_title_box">
                            <span class="Charity_list_title_t">제목입니다</span>
                            <span class="Charity_list_title_l">목록</span>
                            <div class="Charity_list_title_h"></div>
                        </div>
                    </div>
                    <div class="Charity_box">
                        <div class="Charity_list_img"></div>
                        <div class="Charity_list_title_box">
                            <span class="Charity_list_title_t">제목입니다</span>
                            <span class="Charity_list_title_l">목록</span>
                            <div class="Charity_list_title_h"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <hr>
    <div class="Up_footer">
        <div class="Footer_Text"><a href="">회원가입약관</a></div>
        <div class="Footer_Text"><a href="">서비스이용약관</a></div>
        <div class="Footer_Text"><a href="">개인정보처리방침</a></div>
        <div class="Footer_Text"><a href="">공지사항</a></div>
        <div class="Footer_Text"><a href="">SNS</a></div>
    </div>
    <hr>
    <div class="Down_footer">
        <div class="Left_footer">
            <img src="../../public/image/LOGO.svg" alt="LOGO" class="Footer_logo">
            <div class="Customer_Service">기브코인 고객센터</div>
            <div class="Service_Num">1900-2470</div>
        </div>
        <div class="Right_footer">
            기브코인플랫폼(주) | 팀장 김예은 | 사업자 등록번호 0907 <br>
            서울시 노원구 공릉로 232  서울과학기술대학교 미래관 3층
        </div>
    </div>
</footer>
</body>
</html>